.sidebar {
  height: 100%;
  margin-top: var(--margin-cards);
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 10px;
    font-weight: bolder;
  }

  &__cases {
    padding: 10px;
    background-color: var(--card-color);
  }

  &__countries {
    height: 500px;
    overflow: auto;
  }

  &__country {
    color: var(--c-silver);
    margin-bottom: 10px;
    cursor: pointer;

    & span:first-child {
      color: var(--c-yellow);
    }

    &:hover {
      background-color: #555353;
    }
  }

  &__date {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--card-color);
    margin-top: var(--margin-cards);
    margin-bottom: var(--margin-cards);
    padding: 10px;

    &__current {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .sidebar {
    &__country {
      font-size: 12px;
    }

    &__date {
      &__current {
        font-size: 12px;
      }
    }
  }
}
