<div class="main">
  <app-header class="main__header"></app-header>
  <div class="main__body">
    <div class="main__body__left">
      <app-summary class="main__body__left__summary"></app-summary>
      <div class="main__body__left__body">
        <app-sidebar class="main__body__left__body__sidebar"></app-sidebar>
        <app-map class="main__body__left__body__map"></app-map>
      </div>
    </div>
    <div class="main__body__right">
      <app-line-chart class="main__body__right__chart"></app-line-chart>
      <app-bar-chart class="main__body__right__chart"></app-bar-chart>
    </div>
  </div>
</div>
